/******************************************************************************
**  index
******************************************************************************/
.centeredVertical {
    min-height: 15em;
}

.coloredOne, .teal {
    background-color:  #71BBD0 !important; 
}

.coloredTwo {
    color: #ABD5E1;
}

.coloredThree {
    color: #E2E2E2;
}

.coloredFour {
    color: #A7A7A7;
}

.coloredFive {
    color: #000000;
}

.hidden{
    visibility:hidden;
}

#first_name, #last_name{
    margin-bottom:15px;
    width: calc(50% - 7.5px);
}

#last_name{
    float:right;
}

.field:nth-of-type(1){
    width:100%;
}
.alert{
    border-radius:10px;
    border:2px solid salmon;
    color:salmon;
    position:absolute;
    top:0;
    width:100%;
    padding:10px;
    opacity:0;
    animation: fadeIn 5s linear;
}

@keyframes fadeIn{
    0%{opacity:0;}
    10%{opacity:0.9;}
    100%{opacity:1;}
}

main{
    margin-bottom:50px;
}
/******************************************************************************
**  profile
******************************************************************************/
nav{
    background-color: #71BBD0;
    display:flex !important;
    justify-content: space-between;
    height:100px;
    box-shadow:0 0 0 3px #00000050;
    position:fixed; 
    width:100%;
    top:0;
    z-index:9999;
}

nav h4{
    line-height:100px;
    margin:0;
    color:white;
}

.signoutDiv i{
    position: relative;
    line-height:100px;
    display:inline-block;
    color: #ffffff90;
}

.viewFollowersDiv i{
    position: relative;
    line-height:100px;
    display:inline-block;
    color: #ffffff90;
}

.addListDiv i{
    position: relative;
    line-height:100px;
    display:inline-block;
    color: #ffffff90;
}

.hoveredIcons {
    text-align: center;
    height: 30px;
    background-color: grey;
    color:white;
    position: absolute;
    width: 100px;
    padding: 5px 0;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    margin-left: -100px;
    margin-top: -25px;
    transition: opacity .2s, visibility .2s;
}

.viewFollowersDiv:hover .hoveredIcons {
    visibility: visible;
    opacity: 1;
}

.addListDiv:hover .hoveredIcons {
    visibility: visible;
    opacity: 1;
}

.signoutDiv:hover .hoveredIcons {
    visibility: visible;
    opacity: 1;
}

nav p{
    line-height: 100px;
    display:inline-block;
    padding: 0 20px;
    color:white;
}

nav p:hover{
    text-decoration:underline;
    cursor: pointer;
}

nav .search{
    height:40px;
    margin:30px 0 0 10px;
}

#profile header{
    background-image: url('https://www.transparenttextures.com/patterns/arches.png');
    background-color: #ABD5E1;
    min-height:200px;
    margin-top:100px;
    display:flex;
    justify-content: space-around;
    padding:0 50px;
}

.profPic{
    height:100px;
    width:100px;
    background-size:100%;
    border-radius:50%;
    margin-top:50px;
    vertical-align:middle;
    display:inline-block;
    margin-right:50px;
}

.name{
    display:inline-block;
    color:white;
    font-size:48px;
    padding-top:0;
    display:inline-block;
    vertical-align:middle;
    height:100px;
    line-height:120px;
}

#profile .profContent{
    font-size:18px;
    margin:10px auto;
    display:inline-block;
    padding:10px;
    width:70%; 
    margin-left:15%;
}

#profile .card{
    border:1px solid #ddd;
}

.three{
    max-width:1024px;
}

.cardHolder{
    margin: 0 auto !important;
}


/******************************************************************************
**  list page
******************************************************************************/

#listPage header{
    height:300px;
    background-size:cover;
    margin-top:100px;
    margin-bottom:20px;
    position:relative;
}

#listPage .name{
    width:100%;
    text-align:center;
    margin:0;
    z-index:99;
    position:relative;
}

#listPage .profContent{
    color:white;
    font-size:24px;
    width:100%;
    text-align:center;
    z-index:99;
    position:relative;
}

.editBtn{
    width:50px;
    height:50px;
    position:fixed;
    background-color:#71BBD0;
    color:white;
    right:20px; 
    bottom:20px;
    box-shadow: 0 2px 2px 0 #00000050;
    border-radius:50%;
}

#listPage .editBtn i, #profile .editBtn i{
    font-size:24px;
    line-height:50px;
    display:block;
    text-align:center;
    width:100%;
}

.editBtn:hover{
    cursor:pointer;
    transform:scale(1.1)
}

.tintScreen{
background-color:#00000050;
position:absolute;
top:0; 
height:300px;
width:100%;
z-index:0;
}

#cancel{
    margin-top:15px;
}

#addItem i{
    font-size:36px;
    opacity:.7;
    display:block;
    width:100%;
    height:100%;
    line-height:200px;
}
/******************************************************************************
**  list operations page
******************************************************************************/

input[type="file"]{
    position:absolute;
    right:0;
    width:85px !important;
    opacity:0;
    height:35px;
}

#listContainer{

    width:70%;
    margin:200px auto;
}
#listOps header{
    height:400px;
    position:absolute;
    width:100%;
    top:0;
    background-size:cover;
}

#listOps .icon:nth-of-type(1) input[name="listItem"]{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#listOps .icon:nth-of-type(2) input[name="listItem"]{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top:none;
}

.cardImage {
    width: 100%;
    height: 10em;
    background-size: 100% 100%;
}

#feedImage {
    width: 7em;
    height: 7em;
    background-size: 100% 100%;
}

