.centeredVertical {
    min-height: 15em;
}

.coloredOne {
    color:  #71BBD0;
}

.coloredTwo {
    color: #ABD5E1;
}

.coloredThree {
    color: #E2E2E2;
}

.coloredFour {
    color: #A7A7A7;
}

.coloredFive {
    color: #000000;
}